@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    --bgcolor: #43423E;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: black
}